<div id="footer" style="vertical-align: middle;">
  <div class="container">
    <p class="pull-left" >&copy; Zack Chadick
      <!-- <a href="#">Privacy</a> &middot; <a href="#">Terms</a> -->
    </p>
    <div style="margin-left: 90%; bottom: 10px; vertical-align: middle;">
      <div class="social-icons">
        <a href="https://github.com/zchadick" alt="f200" class="genericon genericon-github hidden-xs"></a>
      </div>

      <div class="social-icons">
        <a href="https://www.linkedin.com/in/zackchadick/"
           alt="f207" class="genericon genericon-linkedin hidden-xs"></a>
      </div>
    </div>
  </div>
</div>
