{% extends "layout/base.html" %}

{% block content %}
  <div id="wrap">
    <div class="container">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-5">
            <img src="{{ url_for('static', filename='images/z_pict.jpg') }}"
                 class="img-responsive" height="500px" width="500px"/>
          </div>
          <div class="col-md-5" style="background: #ffffff;">
            <h1 class="text-justify text-muted">Howdy Y'all</h1>
            <p class="lead">Came to data-science through an academic path...</p>
            <p class="lead">graduated from <a href="http://www.caltech.edu">Caltech</a> with a degree in biology and chemistry...</p>
            <p class="lead">did human fMRI work at <a href="http://gazzaleylab.ucsf.edu">UCSF</a> for my PhD...</p>
            <p class="lead">and studied the neural circuits that underlie addiction for my postdoc, also at <a href="http://www.galloresearch.org">UCSF</a>.</p>
            <p class="lead">Please feel free to contact me via <a href="http://www.linkedin.com/in/zackchadick">LinkedIn</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block footer %}
  {% include "include/footer.html" %}
{% endblock %}
