{% extends "layout/base.html" %}

{% block head %}
  <link href="{{ url_for('static', filename='vendor/components-revealjs/css/theme/default.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}

<div id="wrap">
    <div class="row">
        <div align="center">
            <iframe src="{{ url_for('static', filename='kn_slides/index.html') }}" style="position:fixed; top:0px; left:0px; bottom:0px; right:0px; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;">
                Your browser doesn't support IFrames
            </iframe>
        </div>
    </div>
</div>


<!-- <center>
<div style="margin-top: 60px">
<iframe src="http://www.slideshare.net/slideshow/embed_code/36479376" margin-top="110px" width="850" height="650" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
</div>
</center> -->


{% endblock %}

{% block footer %}
  {% include "include/footer.html" %}
{% endblock %}

{% block scripts %}
  <!-- Presentation Libraries -->
  <script src="{{ url_for('static', filename='vendor/components-revealjs/lib/js/head.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/components-revealjs/js/reveal.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/reveal.js') }}"></script>
{% endblock %}
