{% extends "layout/base.html" %}

{% block head %}
  <link href="{{ url_for('static', filename='vendor/components-revealjs/css/theme/default.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<center>
<div style="margin-top: 60px">
<iframe src="http://www.slideshare.net/slideshow/embed_code/36479376" margin-top="110px" width="850" height="650" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
</div>

</center>
{% endblock %}

{% block scripts %}
  <!-- Presentation Libraries -->
  <script src="{{ url_for('static', filename='vendor/components-revealjs/lib/js/head.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/components-revealjs/js/reveal.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/reveal.js') }}"></script>
{% endblock %}
